.dashboard {
	display: grid;
	grid-template-columns: auto;
	overflow: hidden;
	min-height: 100vh;
	background-color: #f3f6fd;
	font-family: var(--head-font);
}

.dashboard-container {
	display: grid;
	grid-template-columns: minmax(270px, 15%) 1fr;
	max-height: 100vh;
}

.main-content{
	height: 100%;
	min-height: 100vh;
}

.Loading{
	display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.Loading img{
	width: 60px !important;
}

@media (max-width: 900px) {.dashboard-container {
	display: block;
}
}