.features-container {
	padding: 40px;
	max-width: 800px;
	margin: 0 auto;
  }
  
  .feature-card {
	background-color: #f5f5f5;
	border-radius: 8px;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .feature-title {
	font-size: 24px;
	margin-bottom: 10px;
  }
  
  .feature-description {
	font-size: 16px;
	line-height: 1.5;
  }

  .about-container {
	padding: 40px;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
  }
  
  .about-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
  }
  
  .about-text {
	flex: 1;
	text-align: left;
  }

  .contact-page {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
  }
  
  .form-group {
	margin-bottom: 20px;
  }
  
  label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
  }

  .contact-page input{
	height: 42px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 12px;
    border: 0.1px solid black;
    width: 100%;
    background-color: #f3eaea;
  }
  

.contact-page textarea {
	width: -webkit-fill-available;
	padding: 10px 0px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
  }


  
  .form-status {
	margin-bottom: 10px;
	font-weight: bold;
  }