.notfound-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #f8f8f8;
	text-align: center;
  }
  
  .notfound-content {
	max-width: 600px;
	margin-bottom: 2rem;
  }
  
  .notfound-content h1 {
	font-size: 4rem;
	font-weight: bold;
	margin-bottom: 1rem;
	color: #333;
  }
  
  .notfound-content h2 {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 1rem;
	color: #555;
  }
  
  .notfound-content p {
	font-size: 1.2rem;
	margin-bottom: 2rem;
	color: #777;
  }