
.profile {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.profile-container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    padding: 3rem 4rem 5rem 4rem;
    max-width: 1800px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.profile-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;
    flex-grow: 1;
}

.profile-stats {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* .profile-bio{
    font-family:
} */

.profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: calc(100vh - 60px);
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: column;
    gap: 20px;
}

.profile-picture img {
    object-fit: cover;
    border-radius: 2rem;
}

.profile-name span {
    font-size: 40px;
    letter-spacing: 5px;
}

.profile-username span {
    color: rgb(81, 77, 75);
    opacity: 0.8;
    font-size: 12px;
    font-weight: lighter;
}

.profile-info {
    display: flex;
    gap: 10px;
}

.profile-bio{
    font-size: 1.5rem;
    letter-spacing: 3px;
    max-width: 500px;
}

.profile-info-item {
    position: relative;
    border-radius: 1.25rem;
    cursor: pointer;
    transition: all 100ms ease 0s;
    display: flex;
    flex: 1 1 0%;
    background: rgb(249, 247, 246);
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    min-width: 80px;
}

.profile-info-item p {
    margin: 0;
    color: rgb(81, 77, 75);
}

.profile-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

@media (max-width: 900px) {
    .profile-container {
        padding: 12px;
        flex-direction: column-reverse;
        gap: 0;
    }

    .profile-picture {
        width: 100%;
        max-height: 400px; /* Adjust as needed */
        margin-bottom: 2rem;
    }

    .profile-picture img {
        width: 100%;
        height: auto;
        max-height: 400px; /* Adjust as needed */
    }

    .profile-details {
        max-width: 100%;
        gap: 2rem;
    }
}


.share-options{
    display: flex;
    gap: 10px;
}

.share-options button{
    font-size: 10px;
    display: flex;
}

.share-options svg{
    width: 10px;
}

.drop-zone {
    max-width: 200px;
    height: 200px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    border: 4px dashed #009578;
    border-radius: 10px;
  }
  
  .drop-zone--over {
    border-style: solid;
  }
  
  .drop-zone__input {
    display: none;
  }
  
  .drop-zone__thumb {
    width: 200px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
  }
  
  .drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
  }
  