section {
    margin: 0 auto;
    height: auto;
    max-width: 1600px;
    padding: 2rem 1rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    border-radius: 2rem;
    padding: 0.8rem 2rem;
    font-size: .875rem;
    font-weight: 700;
    line-height: 100%;
    transition: all .2s;
}

img {
    width: 100%;
    max-width: 580px;
    /* filter: drop-shadow(10px 4px 10px orange); */
}

.txt-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* @media screen and (max-width: 900px) {

} */