:root {
  --background-color: #FAFAFA;
  --head-font: Semakin, sans-serif
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--head-font);
  line-height: 140%;
}