:root {
  --background-color: #f4f3f3;
  --head-font: Semakin, sans-serif
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

/* Hide Screen side scrollbar */

*::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--head-font);
  line-height: 140%;
}

ul{
  list-style: none;
}